@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/SanalSanatGalerisi.styles.css" asp-append-version="true" />
<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .section {
        text-align: center;
    }

    .section h1 {
        background-color: darkblue;
        color: aliceblue;
        padding: 10px;
        margin: 0;
    }
    .section h2 {
        background-color: white;
        padding: 10px;
        margin: 0;
    }

    .section img {
        width: 420px;
        height: 280px;
    }
</style>

<div id="container">
    <div class="section">
        <a asp-area="" asp-page="/sanatcilar"> <img src="/Images/sanatci_header.jpeg" alt="Sanatçılar" /> </a>
        <h1>SANATÇILAR</h1>
        <h3>Popüler sanatçılar bu kısımda sergilenmektedir.</h3>
        <h5>Ressamlar, heykeltraşlar,...</h5>
    </div>

    <div class="section">
        <a asp-area="" asp-page="/Sanatlar"> <img src="/Images/eser_header.jpg" alt="Sanat Eserleri" /> </a>
        <h1>SANAT ESERLERİ</h1>
        <h3>Popüler sanat eserleri bu kısımda sergilenmektedir.</h3>
        <h5>Resimler, heykeller...</h5>
    </div>

    <div class="section">
        <a asp-area="" asp-page="/Akimlar"> <img src="/Images/akimlar_header.jpg" alt="Sanat Akımları" /> </a>
        <h1>SANAT AKIMLARI</h1>
        <h3>Popüler sanat akımları bu kısımda sergilenmektedir.</h3>
        <h5>Rönesans, Barok...</h5>
    </div>
</div>
