@page
@model SanalSanatGalerisi.Pages.SanatlarModel
@{
}
<head>
    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            text-align: center;
        }

            .gallery div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .gallery img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 5px;
            }
    </style>
</head>

<body>
    <div class="gallery">
        <div> <img src="/Images/Sanatlar/0008992_800.jpeg" /> </div>
        <div> <img src="/Images/Sanatlar/Van_Gogh_-_Terrasse_des_Cafés_an_der_Place_du_Forum_in_Arles_am_Abend1.jpeg" /> </div>
        <div> <img src="/Images/Sanatlar/052-Ayna-Karsisindaki-Kiz-Girl-Before-a-Mirror-Picasso.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/121-Iki-Frida-The-Two-Fridas-Frida-Kahlo.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/337px-Saint_George_by_Donatello-Bargello.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/52009113460_cf9bcea09f_z.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/Adam_by_Auguste_Rodin_-_Art_Gallery_of_Western_Australia_-_Joy_of_Museums.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/Christ_of_Saint_John_of_the_Cross.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/Cinq_maîtres_de_la_Renaissance_florentine_Musée_du_Louvre_Peintures_INV_267_-_Donatello.jpg" /> </div>
        <div> <img src="/Images/Sanatlar/Classic_view_of_The_Thinker_(8437831806).jpg" /> </div>
        <div> <img src="/Images/Sanatlar/EYye7fLXYAAbgYZ.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/leonardo-da-vinci-lady-with-an-ermine-kakimli-kadin.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/leonardo-da-vinci-last-supper-son-aksam-yemegi.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/luxe-calme-et-volupte.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/Michelangelo_-_Creation_of_Adam_(cropped) - Kopya (2).jpg"/> </div>
        <div> <img src="/Images/Sanatlar/mona-lisa-kanvas-tablo-62c6ddd7cd055.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/pablo-picasso-aglayan-kadin-the-weeping-woman.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/pablo-picasso-mavi-ciplak-kanvas-tablosu-3ecd.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/pablo-picasso-the-old-guitarist-1903-yasli-gitarist-kanvas-tablosu-TH021121.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/salvador-dali-bellegin-azmi-tablosu-la-persistencia-de-la-memoria-blogkapak.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/si-471841.jpg_ihcm-30.00_iwcm-30.00_fls-880603L.tif_fts-880603T.tif_mc-ffffff_fwcm-1.50_tmwcm-5.00_bmwcm-5.00_lmwcm-5.00_rmwcm-5.00_maxdim-1000_en_easyart___iar-1.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/the-gates-of-hell.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/The_Wounded_Deer_1946.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/tondo-doni-buonarroti-2.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/unnamed.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/Van_Gogh_-_Terrasse_des_Cafés_an_der_Place_du_Forum_in_Arles_am_Abend1.jpeg"/> </div>
        <div> <img src="/Images/Sanatlar/vincent-van-gogh-cicek-acan-badem-agaci-kanvas-tablosu-TH022101.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/vincent-van-gogh-yildizli-gece-ftd.jpg"/> </div>
        <div> <img src="/Images/Sanatlar/works_diegoandi.jpg"/> </div>
    </div>
</body>